$board-size: 600px;
$tile-size: $board-size / 8;
$piece-size: $tile-size - 20px;

.tile-white {
  display: grid;
  place-content: center;
  width: $tile-size;
  height: $tile-size;
  background-color: #f1e8e5;
}

.tile-black {
  display: grid;
  place-content: center;
  width: $tile-size;
  height: $tile-size;
  background-color: #4f352b;
}

.tile-available {
  display: grid;
  place-content: center;
  width: $tile-size;
  height: $tile-size;
  background-color: rgba(25, 0, 255, 0.568);
}

.piece {
  width: $tile-size;
  height: $tile-size;
  background-repeat: no-repeat;
  background-position: center;
  background-size: $piece-size;
}

.piece:hover {
  cursor: pointer;
}
