.waiting-box {
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text {
  padding-top: 70px;

  font-size: 18px;

  color: #f1e8e5;
  text-decoration: none;
  font-weight: 700;
}
